In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import json
import time

In [22]:
url = "https://ies-midterm.soulution.rocks/login"


r = requests.post(url, data=json.dumps({"cuni": "45167974"})).json()

In [26]:
print(r["data"]["personal_code"])

44900537

In [30]:
list_of_codes = r["data"]["dataset_ids"]

In [39]:
df = []
for i in list_of_codes:
    url = "https://ies-midterm.soulution.rocks/data/" + i +"/"
    df.append(requests.get(url).json())

In [125]:
data = pd.DataFrame()
for i in range(len(df)):
    data = data.append(df[i]["data"]["data"],ignore_index=True)

In [130]:
p1 = pd.DataFrame(df[0]["data"]["data"])

In [132]:
p2 = pd.DataFrame(df[1]["data"]["data"])

In [134]:
data

,Date,Open,High,Low,Close,Adj.Close,Volume
0,2019-01-02,10.149999618530273,12.109999656677246,10.039999961853027,11.520000457763672,11.331148147583008,18900
1,2019-01-03,11.510000228881836,11.520000457763672,11.09000015258789,11.09000015258789,10.908197402954102,2700
2,2019-01-04,11.399999618530273,11.399999618530273,11.170000076293945,11.170000076293945,10.986885070800781,2600
3,2019-01-07,11.170000076293945,11.170000076293945,11.170000076293945,11.170000076293945,10.986885070800781,100
4,2019-01-08,11.170000076293945,11.170000076293945,11.170000076293945,11.170000076293945,10.986885070800781,200
...,...,...,...,...,...,...,...
2390,2020-11-17,14.5600004196167,14.843000411987305,14.520000457763672,14.739999771118164,14.695181846618652,298700
2391,2020-11-18,14.899999618530273,15.220000267028809,14.779999732971191,14.800000190734863,14.755000114440918,351800
2392,2020-11-19,14.770000457763672,14.960000038146973,14.6899995803833,14.960000038146973,14.960000038146973,256100
2393,2020-11-20,14.960000038146973,15.100000381469727,14.850000381469727,15.029999732971191,15.029999732971191,195800
2394,,NaN,NaN,NaN,NaN,NaN,NaN